<form
  class="container rounded form-group"
  (ngSubmit)="onFormSubmit()"
  #d="ngForm"
>
  <!-- Form content -->
  <div id="subcontainer">
    <!-- Heading -->
    <div class="heading">
      <h3 class="text-bg-success rounded-3" [hidden]="addrecord">Admit Form</h3>
      <h3 class="text-bg-warning rounded-3" [hidden]="updaterecord">
        Update Admit Form
      </h3>
      <h3 class="text-bg-danger rounded-3" [hidden]="deleterecord">
        Delete Record
      </h3>
    </div>

    <!-- Input fields -->
    <div class="input-form">
      <div class="new-container">
        <!-- Name -->
        <div id="row">
          <label for="Name">Name</label>
          <input
            class="form-control"
            type="text"
            name="Name"
            id="Name"
            [(ngModel)]="record.Name"
            [hidden]="!deleterecord"
          />
          <h5 [hidden]="deleterecord">{{ record.Name }}</h5>
        </div>

        <!-- Room No. -->
        <div id="row">
          <label for="roomNo">Room No.</label>
          <input
            class="form-control"
            type="text"
            name="roomNo"
            [(ngModel)]="record.roomNo"
            [hidden]="!deleterecord"
          />
          <h5 [hidden]="deleterecord">{{ record.roomNo }}</h5>
        </div>
        <div>
          <span class="text-danger fw-bold">{{ error }}</span>
        </div>

        <!-- Mobile No. -->
        <div id="row">
          <label for="mobileNo">Mobile No.</label>
          <input
            class="form-control"
            type="text"
            name="mobileNo"
            [(ngModel)]="record.mobileNo"
            [hidden]="!deleterecord"
          />
          <h5 [hidden]="deleterecord">{{ record.mobileNo }}</h5>
        </div>

        <!-- Gender -->
        <!-- <div id="row">
          <label for="gender">Gender</label>
          <input type="radio" name="gender" value="Male" /><label>Male</label>
          <input type="radio" name="gender" value="Female" /><label
            >Female</label
          >
        </div> -->

        <!-- Age -->
        <div id="row">
          <label for="age">Age</label>
          <input
            class="form-control"
            type="text"
            name="age"
            [(ngModel)]="record.age"
            [hidden]="!deleterecord"
          />
          <h5 [hidden]="deleterecord">{{ record.age }}</h5>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="button">
      <!-- Save button -->
      <button class="btn btn-success" type="submit" [hidden]="addrecord">
        Save
      </button>
      <!-- Update button -->
      <button class="btn btn-warning" type="submit" [hidden]="updaterecord">
        Update
      </button>
      <!-- Delete button -->
      <button
        class="btn btn-danger"
        type="button"
        (click)="onDelete()"
        [hidden]="deleterecord"
      >
        Delete
      </button>
    </div>
  </div>
</form>
