a {
  text-decoration: none;
}
li {
  width: 100px;
}
.container {
  background-color: rgba(36, 33, 33, 0.527);
}
label {
  display: inline-block;
  margin-right: 10px;
}

input {
  width: 100%;
}
section {
  min-height: 780px;
}
