a {
  text-decoration: none;
}
li {
  width: 100px;
}
.container {
  background-color: #0109209d;
}

input {
  width: 100%;
}
section {
  min-height: 700px;
}
.container1 {
  background-color: #071130;
  height: 100px;
}
.bdr {
  border-radius: 6px;
  overflow: hidden;
}
