a {
  text-decoration: none;
}
li {
  width: 100px;
}
.container {
  background-color: #0109209d;
}
label {
  display: inline-block;
  margin-right: 10px;
}

input {
  width: 100%;
}
section {
  min-height: 700px;
}
