<header
  class="d-flex justify-content-between fixed-top py-1 px-5"
  style="background-color: #010920"
>
  <div>
    <h1>
      <a class="text-success" (click)="default()" routerLinkActive="active"
        ><i class="fa-solid fa-stethoscope text-success fa-flip"></i>Hospital</a
      >
    </h1>
  </div>
  <div>
    <ng-container *ngIf="!logInOut.isLoggedIn">
      <li class="btn btn-primary m-2">
        <a class="nav-item text-white" (click)="homeSignUp()">Sign Up</a>
      </li>
      <li class="btn btn-primary m-2 text-white">
        <a routerLinkActive="active" (click)="homeSignIn()">Sign In</a>
      </li>
    </ng-container>
    <ng-container *ngIf="logInOut.isLoggedIn">
      <li class="btn btn-danger m-2 text-white">
        <a class="nav-item text-white" (click)="logOut()">Sign Out</a>
      </li>
    </ng-container>
  </div>
</header>
<section>
  <router-outlet></router-outlet>
</section>
<div class="container1">
  <footer
    class="d-flex flex-wrap justify-content-between py-3 mt-4 border-top bottom-0"
    style="background-color: #010920"
  >
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-3 col-md-4 col-6">
          <h6 class="site-footer-title mb-3">Resources</h6>

          <ul class="site-footer-links">
            <li class="site-footer-link-item">
              <a href="#" class="site-footer-link">Home</a>
            </li>

            <li class="site-footer-link-item">
              <a href="#" class="site-footer-link">How it works</a>
            </li>

            <li class="site-footer-link-item">
              <a href="#" class="site-footer-link">FAQs</a>
            </li>

            <li class="site-footer-link-item">
              <a href="#" class="site-footer-link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
          <h6 class="site-footer-title mb-3">Information</h6>

          <p class="text-white d-flex mb-1">
            <a href="tel: 305-240-9671" class="site-footer-link">
              305-240-9671
            </a>
          </p>

          <p class="text-white d-flex">
            <a href="mailto:hospital@company.com" class="site-footer-link">
              hospital@company.com
            </a>
          </p>
        </div>

        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              English
            </button>

            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">Thai</button></li>

              <li>
                <button class="dropdown-item" type="button">Myanmar</button>
              </li>

              <li>
                <button class="dropdown-item" type="button">Arabic</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
