.container {
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 300px;
}
button {
  position: relative;
  padding: 10px;
  width: 80px;
  left: 102%;
}
input {
  width: 75%;
}
#row {
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: space-between;
}
#subcontainer {
  padding-top: 20px;
}
.heading {
  text-align: center;
  font-weight: 800;
}
.new-container,.button-class {
  padding-left: 10%;
  padding-right: 10%;
}