<form class="container rounded" (ngSubmit)="onFormSubmit()" #f="ngForm">
  <div class="new-container">
    <div class="row" id="subcontainer">
      <div class="heading">
        <h3 [hidden]="!logInOut.signup">
          <i class="fa-solid fa-beat" style="color: #ffffff">Sign Up</i>
        </h3>
        <h3 [hidden]="logInOut.signup" class="fa-solid fa-beat">Sign In</h3>
      </div>
      <div id="row">
        <label for="userName">User Name</label>
        <input
          class="form-control"
          type="text"
          name="userName"
          id="userName"
          ngModel
          required
        />
      </div>
      <div *ngIf="logInOut.exist" class="text-center text-danger fw-bold">
        <span>{{ error }}</span>
      </div>
      <div id="row">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          ngModel
          required
        />
      </div>
      <div id="row" [hidden]="!logInOut.signup">
        <label for="repassword"> Confirm Password</label>
        <input
          class="form-control"
          type="password"
          name="repassword"
          id="repassword"
          ngModel
          required
        />
      </div>
      <div>
        <span
          class="text-danger"
          *ngIf="
            f.controls['password'] &&
            f.controls['repassword'] &&
            f.controls['password'].touched &&
            f.controls['repassword'].touched &&
            f.controls['password'].value != f.controls['repassword'].value &&
            logInOut.signup
          "
        >
          password does not match, recheck the password
        </span>
        <span [hidden]="noUser">
          No User Found <br />
          please Sign Up
        </span>
      </div>
    </div>
    <div class="button-class">
      <!-- <button class="btn btn-secondary" (click)="testLogIn()">
        Test Login
      </button> -->
      <button
        class="btn btn-light"
        [hidden]="!logInOut.signup"
        [disabled]="
          f.controls['password'] &&
          f.controls['repassword'] &&
          f.controls['password'].touched &&
          f.controls['repassword'].touched &&
          f.controls['password'].value != f.controls['repassword'].value
        "
      >
        Sign Up
      </button>
      <button
        class="btn btn-light"
        id="btn"
        [hidden]="logInOut.signup"
        (click)="signIn()"
      >
        Sign In
      </button>
    </div>
  </div>
</form>
