.container {
  border-radius: 5px;
  position: absolute;
  top: 13%;
  left: 10%;
  width: 80%;
  height: 620px;
}

input {
  width: 300px;
}
span {
  padding-left: 10px;
}
th {
  text-align: left;
}
#header {
  display: flex;
  justify-content: space-between;
}
.table-bottom {
  border-radius: 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
button {
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
}
.page-input {
  height: 30px;
  width: 60px;
}
.page-item {
  display: flex;
  justify-content: space-evenly;
}
.roomno {
  padding-left: 2%;
}
