.container {
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: fit-content;
}

input {
  width: 300px;
}
span {
  padding-left: 10px;
}
th {
  text-align: left;
}
#header {
  display: flex;
  justify-content: space-between;
}
