<div class="container p-2">
  <div class="form-group p-2">
    <div class="heading text-center">
      <h2 class="text-bg-success rounded-1">Patient Records</h2>
    </div>
    <div id="header">
      <span>
        <a class="px-2" (click)="addRecord()"
          ><i class="fa-solid fa-file-medical fa-beat" style="color: #ffffff">
            add record</i
          ></a
        >
      </span>
      <div>
        <label class="h5" for="search">Search : </label>
        <input class="rounded" type="text" [(ngModel)]="search" />
      </div>
    </div>
  </div>
  <table class="table table-hover rounded-1">
    <thead>
      <tr>
        <th class="px-4" scope="col">Options</th>
        <th scope="col">Name</th>
        <th scope="col">Room No.</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let record of records.slice(
            (currentPage - 1) * itemsPerPage,
            currentPage * itemsPerPage
          ) | filter : search
        "
        id="tr"
      >
        <!-- <tr *ngFor="let record of records | filter : search" id="tr" > -->
        <td scope="col">
          <span
            ><a
              class="px-2"
              routerLink="/addRecord"
              (click)="updateRecord(record)"
              ><i
                class="fa-regular fa-pen-to-square"
                style="color: #438a00ce"
              ></i
            ></a>
          </span>
          <span
            ><a class="px-2" routerLink="/addRecord" (click)="onDelete(record)"
              ><i
                class="fa-regular fa-trash-can fa-shake"
                style="color: #eb3b00"
              ></i
            ></a>
          </span>
        </td>
        <td scope="col">{{ record.Name }}</td>
        <td class="roomno" scope="col">{{ record.roomNo }}</td>
        <td scope="col">{{ record.mobileNo }}</td>
        <td scope="col">{{ record.age }}</td>
      </tr>
    </tbody>
  </table>
  <div class="table-bottom">
    <!-- <a><i class="fa-solid fa-arrow-left fa-beat-fade"></i></a>
    <a><i class="fa-solid fa-arrow-right fa-beat-fade"></i></a> -->
    <button
      class="btn btn-light"
      [disabled]="currentPage === 1"
      (click)="goToPreviousPage()"
    >
      Previous
    </button>
    <div class="page-item">
      <p>Page :</p>
      <input
        class="page-input form-control"
        type="number"
        [(ngModel)]="currentPage"
        (enter)="goToPage()"
      />
      <p>of {{ totalPages }}</p>
    </div>
    <button
      class="btn btn-light x"
      [disabled]="currentPage === totalPages"
      (click)="goToNextPage()"
    >
      Next
    </button>
  </div>
</div>
